<footer class="footer">
    <ul class="social-links">
        <li><a href="https://www.instagram.com/chasheofficial"><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/instagram.svg" /></a>
        <li><a href="https://en-gb.facebook.com/chashemusic/"><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/facebook.svg" /></a>
        <li><a href="https://twitter.com/chashemusic"><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/twitter.svg" /></a>
        <li><a href="https://open.spotify.com/artist/1dvfTOafT8oFmvqKWcnU3e"><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/spotify.svg" /></a>
        <li><a href="https://www.youtube.com/channel/UCJQ0sQqMwuFLaAkfcfuIY-w"><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/youtube.svg" /></a>
    </ul>
    <p>&copy;{{ site.buildTime | dateDisplay('yyyy') }} ChasheMusic</p>
</footer>
