<footer class="footer">
    <ul class="social-links">
        <li><a href=""><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/instagram.svg" /></a>
        <li><a href=""><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/facebook.svg" /></a>
        <li><a href=""><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/twitter.svg" /></a>
        <li><a href=""><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/spotify.svg" /></a>
        <li><a href=""><img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/youtube.svg" /></a>
    </ul>
    <p>&copy;{{ site.buildTime | dateDisplay('yyyy') }} ChasheMusic</p>
</footer>
